.tui-toast {
  position: fixed;
  color: #fff;
  text-align: center;
  background-color: rgba(76, 76, 76, .96);
  border-radius: 8px;
  transition: all .3s ease-out;
  pointer-events: none;
  opacity: 0;
  z-index: 99999;

  &.show {
    opacity: 1;
  }

  &[data-type=loading] {
    padding: 16px 12px;
    width: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateZ(0);
    .tui-icon__loading {
      display: flex;
      margin: 10px auto;
      width: 44px;
      height: 44px;
    }
  }

  &[data-type=toast] {
    padding: 8px 12px;
    border-radius: 8px;
    max-width: 86%;
    left: 50%;
    transform: translateX(-50%) translateZ(0);
    &[data-position=top] {
      top: 15%;
    }
    &[data-position=center] {
      top: 50%;
      transform: translate(-50%, -50%) translateZ(0);
    }
    &[data-position=bottom] {
      bottom: 15%;
    }
  }

  &[data-type=success],
  &[data-type=info],
  &[data-type=error],
  &[data-type=warn] {
    padding: 8px;
    max-width: initial;
    left: 8px;
    right: 8px;
    transform: initial;
    &[data-position=top] {
      top: 8px;
    }
    &[data-position=center] {
      top: 50%;
      transform: translateY(-50%) translateZ(0);
    }
    &[data-position=bottom] {
      bottom: 8px;
    }
  }
  &[data-type=success] {
    background-color: #07c160;
  }
  &[data-type=info] {
    background-color: #10aeff;
  }
  &[data-type=error] {
    background-color: #fa5151;
  }
  &[data-type=warn] {
    background-color: #cc9c00;
  }
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99998;
}
